@font-face {
    font-family: 'pixel';
    src: url(../../assets/fonts/puzzle-tale-pixel/Puzzle-Tale-Pixel-Regular.ttf) format(truetype);
    font-weight: normal;
}

.editor-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr)); 
    column-gap: 1%;
    padding: 0 1.3em;
    bottom: 0.4em;
    height: 88%;
    width: 100vw;
    /* border: 2px solid red; */
}

.editor-con-plg {
    height: 91%;
    grid-template-columns: 18% repeat(auto-fit, minmax(39%, 1fr));
    column-gap: 0%;
    padding: 1.3em 0 0;
}

.aside {
    font-family: 'pixel', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F3F518;
    border: 2px solid #2121DE;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.asideInner {
    flex: 1;
}

.clientsList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

.btn {
    cursor: pointer;
    background: #000000;
    height: 6%;
    width: 100%;
    font-family: 'pixel', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    transition: 0.3s;
}

.btn:hover {
    color: #F3F518;
    border: 2px solid #2121DE;
}

.copy-btn {
    color: #F3F518;
    border: 2px solid #ffffff;
}

.leave-btn {
    color: #ffffff;
    border: 2px solid #F3F518;
    margin-top: 1rem;
}

.editor-box {
    background: #2121DE;
    color: #F3F518;
    border: 2px solid #2121DE;
}

.res-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    /* gap: 0%; */
    /* border: 2px solid red; */
}

.plg-res {
    gap: 0;
}

.output-box {
    position: relative;
    height: 64%;
    width: 100%;
    background: #000000;
    border: 2px solid #2121DE;
}

.output-box h2 {
    font-family: 'pixel', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F3F518;
    font-size: 3.125em;
    margin: 8px 0 0 8px;
}

.output-box textarea {
    width: 100%;
    height: 84%;
    resize: none;
    margin: 10px 0;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    background: #000000;
    color: #ffffff;
    border-top: 2px dashed #2121DE;
    /* border: 2px solid red; */
}

.output-box textarea:focus {
    outline: none;
}

.input-box {
    position: relative;
    height: 40%;
    width: 100%;
    background: #000000;
    border: 2px solid #2121DE;
}

.input-box h2 {
    font-family: 'pixel', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F3F518;
    font-size: 3.125em;
    margin: 8px 0 0 8px;
}

.input-box textarea {
    width: 100%;
    height: 75%;
    font-size: 15px;
    resize: none;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background: #000000;
    color: #ffffff;
    font-size: 1.3em;
    border-top: 2px dashed #2121DE;
    /* border: 2px solid red; */
}

.input-box textarea:focus {
    outline: none;
}
