* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup-box {
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background: red; */
    /* border: 2px solid #fff; */
}

/* .toast {
    background-color: #000000;
    color: #F3F518;
    font-family: 'pixel', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    border: 2px solid #2121DE;
    border-radius: 0;
} */

.popup-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    gap: 1.8em;
    background: #000000;
    color: #ffffff;
    padding: .5em .8em;
    border: 2px solid #2121DE;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: .8rem;
    gap: 1em;
}

.header-container p {
    color: #F3F518;
    font-family: 'pixel', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.8em;
    padding: 0 .8em;
    /* border:2px solid red; */
}

.close-btn {
    cursor: pointer;
    background: none;
    border: none;
    color: #ffffff;
    font-family: 'pixel', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    padding: .1em;
    margin-top: -.4em;
    /* margin-bottom: .6em; */
    /* border: 2px solid red; */
}

.input-box-container {
    display: flex;
    flex-direction: column;
    gap: .9em;
    margin-top: 15px;
}

.roomId-ip, .name-ip {
    width: 20rem;
    background: none;
    border: 2px solid #ffffff;
    font-family: 'pixel', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
    color: #F3F518;
    padding: .5em;
}

.roomId-ip:focus, .name-ip:focus {
    outline: none;
    border: 2px solid #2121DE;
}

.join-btn-container {
    display: flex;
    justify-content: center;
}

.join-btn {
    cursor: pointer;
    padding: 0.3em 0.4em;
    background: none;
    border: 2px solid #2121DE;
    font-family: 'pixel', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7em;
    color: #F3F518;
    transition: 0.4s;
}

.create-room-text {
    font-family: 'pixel', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: .4em;
}